watch3.env
cases
data_regtests
smc_docs/*.pdf 
smc_docs/SMCG_TKs/*.ps
ww3_from_ftp.tar.gz
ww3_from_ftp.v6.07.tar.gz
guide/*.log
guide/*.aux
guide/*.bbl
guide/*.blg
guide/*.toc
guide/*.out
guide/*.dvi
guide/*.pdf
manual/ww3_grid.tex
manual/ww3_strt.tex
manual/ww3_bounc.tex
manual/ww3_bound.tex
manual/ww3_prep.tex
manual/ww3_prtide.tex
manual/ww3_prnc.tex
manual/ww3_gspl.tex
manual/ww3_shel.tex
manual/ww3_multi.tex
manual/ww3_multi.tel
manual/ww3_trck.tex
manual/ww3_outf.tex
manual/ww3_outp.tex
manual/ww3_ounf.tex
manual/ww3_ounp.tex
manual/ww3_systrk.tex
manual/ww3_uprstr.tex
manual/ww3_grib.tex
manual/ww3_gint.tex
manual/ww3_trnc.tex
manual/gx_outf.tex
manual/gx_outp.tex
manual/*.log
manual/*/*.aux
manual/*.aux
manual/*.bbl
manual/*.blg
manual/*.toc
manual/*.out
manual/*.dvi
manual/*.pdf
model?
model??
regtests/list*
regtests/before
regtests/matrix*
regtests/msuball.sh
regtests/*/work*
regtests/*/input*/*.nc
regtests/*/input*/*/*.nc
regtests/*/input*/partition.ww3
regtests/*/*.png
regtests/ww3_tp2.14/input/oasis3-mct/doc
regtests/ww3_tp2.14/input*/*.nc.OAS*CM*
regtests/ww3_tp2.14/input*/*/*.nc.OAS*CM*
regtests/ww3_tp2.14/input/toy/*.o
regtests/ww3_tp2.14/input/oasis3-mct/util/make_dir/cmplr
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mct/*.mod
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mct/*_scratch.f
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mct/Makefile.conf
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mct/*.lst
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mpeu/*.mod
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mpeu/mpeu
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mpeu/Makefile.conf
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/mpeu/*.lst
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/texsrc/*.F90
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/texsrc/*.tex
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.toc
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.log
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.dvi
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.aux
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.blg
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.bbl
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/doc/*.pdf
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_concur1/climate
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_concur1/*.mod
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_concur1/poe.*
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/simple/twocon
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/simple/twoseq
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/simple/twosequn
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/simple/twoseqNB
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_sequen1/MCT.*
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_sequen1/*.mod
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/examples/climate_sequen1/climate
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/Makefile.conf
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/config.log
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/config.status
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/config.h
regtests/ww3_tp2.14/input/oasis3-mct/lib/mct/autom4te.cache
regtests/ww3_tp2.14/input/toy/toy_model
regtests/ww3_tp2.14/input/ww3_shel.inp
regtests/ww3_tp2.14/input/ww3_shel.nml
regtests/ww3_tp2.15/input_rho/ww3_prnc.inp
regtests/ww3_tp2.17/input/inlet.msh
regtests/ww3_tp2.19/input/Boers.msh
regtests/ww3_tp2.19/input/meshbnd.msh
regtests/ww3_ufs1.1/input_unstr/global_1deg_unstr.msh
regtests/ww3_tp2.21/input/mesh.msh
regtests/ww3_tp2.21/input/obstructions_local.glo_unst.in
regtests/ww3_tp2.21/input/obstructions_shadow.glo_unst.in
regtests/mww3_test_09/input/GtLkHuronBlst.dat
regtests/mww3_test_09/input/GtLkHuronCels.dat
regtests/mww3_test_09/input/GtLkHuronISid.dat
regtests/mww3_test_09/input/GtLkHuronJSid.dat
regtests/mww3_test_09/input/GtLkHuronObst.dat
regtests/mww3_test_09/input/GtLkMichiBlst.dat
regtests/mww3_test_09/input/GtLkMichiCels.dat
regtests/mww3_test_09/input/GtLkMichiISid.dat
regtests/mww3_test_09/input/GtLkMichiJSid.dat
regtests/mww3_test_09/input/GtLkMichiObst.dat
regtests/mww3_test_09/input/GtLkSuperBlst.dat
regtests/mww3_test_09/input/GtLkSuperCels.dat
regtests/mww3_test_09/input/GtLkSuperISid.dat
regtests/mww3_test_09/input/GtLkSuperJSid.dat
regtests/mww3_test_09/input/GtLkSuperObst.dat
regtests/ww3_ufs1.1/input/glo_15mxt.bot
regtests/ww3_ufs1.1/input/glo_15mxt.mask
regtests/ww3_ufs1.1/input/glo_15mxt.obs
regtests/ww3_ufs1.2/input/aoc_9km.bot
regtests/ww3_ufs1.2/input/aoc_9km.lat
regtests/ww3_ufs1.2/input/aoc_9km.lon
regtests/ww3_ufs1.2/input/aoc_9km.mask
regtests/ww3_ufs1.2/input/aoc_9km.obs
regtests/ww3_ufs1.2/input/glo_15mxt.bot
regtests/ww3_ufs1.2/input/glo_15mxt.mask
regtests/ww3_ufs1.2/input/glo_15mxt.obs
regtests/ww3_ufs1.2/input/gnh_10m.mask
regtests/ww3_ufs1.2/input/gnh_10m.obs
regtests/ww3_ufs1.2/input/gsh_15m.bot
regtests/ww3_ufs1.2/input/gsh_15m.mask	
regtests/ww3_ufs1.2/input/gsh_15m.obs
regtests/ww3_ufs1.2/input/gnh_10m.bot
regtests/ww3_ufs1.2/input/gsh_15m.mask
regtests/output
regtests/build*
*.nc
*/*.nc
*/*/*.nc
*/*/*/*.nc
*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*~
model/bin/comp
model/bin/link
model/bin/ad3
model/bin/switch
model/bin/switch.old
model/bin/switch.old_DIST
model/bin/switch.old_SHRD
model/bin/switch.old_HYB
model/bin/switch.old_OMP
model/bin/switch.old_SEQ
model/bin/switch.old_MPI
model/bin/w3adc
model/bin/w3list
model/bin/w3prnt
model/bin/w3split
model/wwatch3.env
model/bin/wwatch3.env
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp
.*.swp
*/.*.swp
*/*/.*.swp
*/*/*/.*.swp
.DS_Store
build
