watch3.env
cases
data_regtests
smc_docs/*.pdf 
smc_docs/SMCG_TKs/*.ps
ww3_from_ftp.tar.gz
ww3_from_ftp.v6.07.tar.gz
guide/*.log
guide/*.aux
guide/*.bbl
guide/*.blg
guide/*.toc
guide/*.out
guide/*.dvi
guide/*.pdf
manual/ww3_grid.tex
manual/ww3_strt.tex
manual/ww3_bounc.tex
manual/ww3_bound.tex
manual/ww3_prep.tex
manual/ww3_prtide.tex
manual/ww3_prnc.tex
manual/ww3_gspl.tex
manual/ww3_shel.tex
manual/ww3_multi.tex
manual/ww3_multi.tel
manual/ww3_trck.tex
manual/ww3_outf.tex
manual/ww3_outp.tex
manual/ww3_ounf.tex
manual/ww3_ounp.tex
manual/ww3_systrk.tex
manual/ww3_uprstr.tex
manual/ww3_grib.tex
manual/ww3_gint.tex
manual/ww3_trnc.tex
manual/gx_outf.tex
manual/gx_outp.tex
manual/*.log
manual/*/*.aux
manual/*.aux
manual/*.bbl
manual/*.blg
manual/*.toc
manual/*.out
manual/*.dvi
manual/*.pdf
model?
model??
regtests/list*
regtests/before
regtests/matrix*
regtests/*/work*
regtests/*/input*/*.nc
regtests/*/input*/*/*.nc
regtests/*/input*/partition.ww3
regtests/*/*.png
regtests/ww3_tp2.14/input/oasis3-mct/doc
regtests/ww3_tp2.14/input*/*.nc.OAS*CM*
regtests/ww3_tp2.14/input*/*/*.nc.OAS*CM*
regtests/ww3_tp2.17/input/inlet.msh
*.nc
*/*.nc
*/*/*.nc
*/*/*/*.nc
*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*~
model/bin/comp
model/bin/link
model/bin/switch
model/bin/switch.old
model/bin/switch.old_DIST
model/bin/switch.old_SHRD
model/bin/switch.old_HYB
model/bin/switch.old_OMP
model/bin/switch.old_SEQ
model/bin/switch.old_MPI
model/bin/w3adc
model/bin/w3list
model/bin/w3prnt
model/bin/w3split
model/wwatch3.env
model/bin/wwatch3.env
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp
.*.swp
*/.*.swp
*/*/.*.swp
*/*/*/.*.swp
