verbose: t

start_time: 2013 04 01 00 00 00
stop_time:  2013 04 02 00 00 00
time_step: 1 0 0

WAV_active: t

ATM_active: f
ATM_time_step: 1 0 0

OCN_active: f
OCN_time_step: 1 0 0

ICE_active: f
ICE_time_step: 1 0 0
