# --------------------------------------------------------------------------- #
# cmplr : Compiler makefile for oasis coupler based on WW3 environment        #
#                                                                             #
# remarks :                                                                   #
#                                                                             #
#  - template file is used by regtests/ww3_tp2.14/input/prep_env.sh           #
#    which will replace <comp_mpi>, <optc_short>, <optl_short>, <comp_mpi_exe>#
#    by the values defined in model/bin/cmplr.env                             #
#                                                                             #
#  - Upon (first) installation of WAVEWATCH III the user needs to check the   #
#    existing compilers and options available in the script cmplr.env         #
#                                                                             #
#  - This version is a template for mpt/intel/gnu/pgi with optimized or       #
#    debugging options by adding _debug                                       #
#                                                                             #
#                                                      M. Accensi             #
#                                                      August   2018          #
# --------------------------------------------------------------------------- #

#
# CHAN	: communication technique used in OASIS3 (MPI1/MPI2)
CHAN            = MPI1
#
# Paths for libraries, object files and binaries
#
# COUPLE	: path for oasis3-mct main directory
COUPLE          = @oasis_input_path@
#
# ARCHDIR       : directory created when compiling
ARCHDIR         = @oasis_work_path@
#
# NetCDF library
NETCDF_INCLUDE  = @NetCDF_INCLUDES_STR@
NETCDF_LIBRARY  = @NetCDF_LIBRARIES_STR@
#
# Compilers and options
MAKE        = make
F90         = @comp_mpi@
F           = $(F90)
f90         = $(F90)
f           = $(F90)
CC          = @wwatch3_cc@
AR          = ar
ARFLAGS     = -ruv
F90COMP     = @CMAKE_Fortran_FLAGS@
F90LINK     = @optl_short@
#
# MPI library
MPI         = $(shell which @comp_mpi@)
MPIDIR      = $(shell dirname $(shell dirname $(MPI)))
MPIBIN      = $(MPIDIR)/bin
MPI_INCLUDE = $(MPIDIR)/include
#
# CPP keys and compiler options
CPPDEF    = -Duse_netCDF -Duse_comm_$(CHAN) -D__VERBOSE -DTREAT_OVERLAY -Duse_realtype_single
#
# Flags 
F90FLAGS_1  = $(F90COMP) -I.
f90FLAGS_1  = $(F90FLAGS_1)
FFLAGS_1    = $(F90FLAGS_1)
fFLAGS_1    = $(F90FLAGS_1)
CCFLAGS_1   = $(F90FLAGS_1) 
LDFLAGS     = 
#
###################
#
# Additional definitions that should not be changed
#
#FLIBS		: netcdf library and more
FLIBS		= $(NETCDF_LIBRARY) $(LCPP) $(LIBXML)
# BINDIR        : directory for executables
BINDIR          = $(ARCHDIR)/bin
# LIBBUILD      : contains a directory for each library
LIBBUILD        = $(ARCHDIR)/build/lib
# INCPSMILE     : includes all *o and *mod for each library
INCPSMILE       = -I$(LIBBUILD)/psmile.$(CHAN) -I$(LIBBUILD)/mct -I$(LIBBUILD)/scrip

F90FLAGS  = $(F90FLAGS_1) $(INCPSMILE) $(CPPDEF) $(NETCDF_INCLUDE)
f90FLAGS  = $(f90FLAGS_1) $(INCPSMILE) $(CPPDEF) $(NETCDF_INCLUDE)
FFLAGS    = $(FFLAGS_1) $(INCPSMILE) $(CPPDEF) $(NETCDF_INCLUDE)
fFLAGS    = $(fFLAGS_1) $(INCPSMILE) $(CPPDEF) $(NETCDF_INCLUDE)
CCFLAGS   = $(CCFLAGS_1) $(INCPSMILE) $(CPPDEF) $(NETCDF_INCLUDE)
#
#############################################################################
